*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: rgb(104, 92, 92);
    display: grid;
    justify-content: center;
    align-content: center;
}

div.form{
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;


}

#form{
    font-family: 'Tourney', cursive;
    position: relative;
    z-index: 1;
    padding: 10px;
    background-color: white;
    border-radius: 5px ;
    
    
    max-width: 400px;
    margin: 20px auto;
}

#form h1{
    text-align: center;
    color: black;
    border: white;
}
#form label{
    color: black;
}
input[type="text"],
input[type="text"],
input[type="url"]{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    color: black;
    outline: none;
    padding: 10px;
}
.btn{
    padding: 12px 30px;
    border-radius: 5px;
    background: #0066A2;
    color: black;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    /* display: inline-table; */
    vertical-align: middle;
}


